<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Arpefitness"
        tools:targetApi="31">
        <activity
            android:name=".TrainingCompleted"
            android:exported="false"
            android:label="@string/title_activity_training_completed"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".WorkoutPlan"
            android:exported="false"
            android:label="@string/title_activity_workout_plan"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".DoExercise"
            android:exported="false"
            android:label="@string/title_activity_do_exercise"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".AddSets"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".ScreenLogin"
            android:exported="true"
            android:label="@string/title_activity_screen_login"
            android:theme="@style/Theme.Arpefitness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Selected_exercises"
            android:exported="false"
            android:label="@string/title_activity_selected_exercises"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".CustomWorkout"
            android:exported="false"
            android:label="@string/title_activity_custom_workout"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".Homepage"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".StatisticsScreen"
            android:exported="false"
            android:label="@string/title_activity_static_screen"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".ProfileScreen"
            android:exported="false"
            android:label="@string/title_activity_teste"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false"
            android:label="@string/title_activity_welcome_screen"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".ScreenCreateAccount"
            android:exported="false"
            android:label="@string/title_activity_screen_create_account"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".Screenp1"
            android:exported="false"
            android:label="@string/title_activity_screenp1"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".Screenp2"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.Arpefitness" />
        <activity
            android:name=".Screenp3"
            android:exported="false"
            android:label="@string/title_activity_screen_create_account"
            android:theme="@style/Theme.Arpefitness" />

    </application>

</manifest>
